* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

main {
  font-family: "Heebo", sans-serif;
  overflow: hidden;
}

.fog-container{
  left: 0rem;
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 1;
}
.fog-img{
  position: absolute;
  height: 100vh;
  width: 300vw;
  z-index: 2;
}
.fog-img.fogimg-first{
  background: url("../resources/fog-1.png");
  background-repeat: repeat-x;
  background-size: contain;
  background-position: center;
  animation: marquee 30s linear infinite;
}
.fog-img.fogimg-second {
  background: url("../resources/fog-2.png");
  background-repeat: repeat-x;
  background-size: contain;
  background-position: center;
  animation: marquee 15s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-100vw, 0, 0);
  }
}


.landing {
  width: 100vw;
  min-height: 100vh;
  background: url("../resources/forrest.jpg");
  background-size: cover;
  position: relative;
  padding: 0rem 5rem;
  z-index: 0;
}

.name-space{
  position:absolute;
  top: 1.5%;
  right: 5%;
  text-align: right;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 10vh;
}
.nav-links {
  display: flex;
  list-style: none;
}
.nav-links li {
  font-size: 1.2rem;
}
#logo {
  font-family: "Lobster", cursive;
  font-weight: lighter;
  font-size: 2rem;
}

.big-text {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -30%);
  font-size: min(5rem, 16vw);
  font-family: "Lobster", cursive;
  color: rgb(119, 97, 146);
  z-index: 5;
}


#my-works{
  position: absolute;
  bottom: 0.5%;
  left: 50%;
  width: 100vw;
  text-align: center;
  transform: translate(-50%, -50%);
  font-size: min(3rem, 6.5vw);
  font-family: "Lobster", cursive;
  color:whitesmoke;
}
#my-works:hover{
  font-size: min(3.2rem, 6.5vw);
  color: wheat;
}

a{
  position: relative;
  z-index: 4;
  color: rgb(157, 135, 182);
}

a:hover{
  font-style: italic;
  margin-right: 10px;
  color: rgb(119, 97, 146);
}

.intro {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider {
  background: rgb(97, 105, 109);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
}

.intro-text {
  color: rgb(233, 233, 233);
  font-family: "Heebo", sans-serif;
  font-size: min(3rem, 10vw);
}

.hide {
  background: black;
  overflow: hidden;
}

.hide span {
  transform: translateY(100%);
  display: inline-block;
}
