* {
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgb(240, 240, 240);
}

/* The animation code */
@keyframes move-up {
  0% {
    top: -50vh;
    height: 150vh;
    width: 100vw;
  }
  100% {
    top: max(10vh, 15.9vw);
    height: 100vh;
    width: 100vw;
  }
}
@keyframes fading {
  0% {
    margin-top: -50vh;
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0.6;
  }
}

.entering {
  background-image: url("../resources/path.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: max(10vh, 16vw);
  left: 0vw;
  width: 100vw;
  height: 100vh;
  animation-name: move-up;
  animation-duration: 5s;
  z-index: -1;
  opacity: 0.65;
}
h1 {
  font-family: "Lobster", cursive;
  font-weight: lighter;
  font-size: 3rem;
}

/* Slider style*/
.slider {
  opacity: 0.85;
  font-family: "Heebo", sans-serif;
  font-weight: 400;
  overflow: hidden;
  animation-name: fading;
  animation-duration: 6s;
}

.rotating-slider ul.slides li {
  color: #ffffff;
}

.rotating-slider ul.slides li a {
  color: #5a5a5a;
}

.rotating-slider ul.slides li:nth-of-type(1) {
  background: linear-gradient(#fd7350, rgb(245, 245, 245, 0.65));
}

.rotating-slider ul.slides li:nth-of-type(2) {
  color: #ffffff;
  background: linear-gradient(rgb(59, 59, 59), rgb(245, 245, 245, 0.65));
}

.rotating-slider ul.slides li:nth-of-type(3) {
  background: linear-gradient(rgb(108, 108, 245), rgb(245, 245, 245, 0.65));
}

.rotating-slider ul.slides li:nth-of-type(4) {
  color: #888888;
  background: linear-gradient(rgb(255, 192, 206), rgb(245, 245, 245, 0.65));
}

.rotating-slider ul.slides li:nth-of-type(5) {
  background: linear-gradient(rgb(255, 133, 133), rgb(245, 245, 245, 0.65));
}

.rotating-slider ul.slides li:nth-of-type(6) {
  background: linear-gradient(rgb(255, 140, 73), rgb(245, 245, 245, 0.65));
}
.rotating-slider ul.slides li:nth-of-type(7) {
  color: #414141;
  background: linear-gradient(#e2da6c, rgb(245, 245, 245, 0.65));
}
.rotating-slider ul.slides li:nth-of-type(8) {
  color: #414141;
  background: linear-gradient(#76e6b7, rgb(245, 245, 245, 0.65));
}

.rotating-slider ul.slides li .inner {
  box-sizing: border-box;
  padding: 2em;
  height: 100%;
  width: 100%;
}

a {
  color: white;
}
